<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422555980202-0eni3g8kcohh8geec80r1goevk6cabh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422555980202-0eni3g8kcohh8geec80r1goevk6cabh4</string>
	<key>API_KEY</key>
	<string>AIzaSyAtcyzWs91VzyAkGOQHpXpys0Qy3lkjx9o</string>
	<key>GCM_SENDER_ID</key>
	<string>422555980202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yutaudemy.FirebaseB</string>
	<key>PROJECT_ID</key>
	<string>fir-dd-a6cf0</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-dd-a6cf0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422555980202:ios:9bcb2ba71b538923d49bd3</string>
	<key>DATABASE_URL</key>
	<string>https://fir-dd-a6cf0.firebaseio.com</string>
</dict>
</plist>